/*
 * autors:
 * Santiago Leopardo @sleopardo
 * Fernando Leopardo @fer_leopardo
*/

/*
 * Reset
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}strong{font-weight: bold;}


/*
 * Fonts
*/

/*
@font-face {
	font-family: "peugeot-bold-italic";
	src: url("../fonts/peugeot_bold_italic_v2-webfont.eot");
	src: local("?"),
	url("../fonts/peugeot_bold_italic_v2-webfont.woff") format("woff"),
	url("../fonts/peugeot_bold_italic_v2-webfont.ttf") format("truetype"),
	url("../fonts/peugeot_bold_italic_v2-webfont.svg#blaimim_-webfont") format("svg");
}

@font-face {
	font-family: "peugeot-bold";
	src: url("../fonts/peugeot_bold_v2-webfont.eot");
	src: local("?"),
	url("../fonts/peugeot_bold_v2-webfont.woff") format("woff"),
	url("../fonts/peugeot_bold_v2-webfont.ttf") format("truetype"),
	url("../fonts/peugeot_bold_v2-webfont.svg#blaimim_-webfont") format("svg");
}

@font-face {
	font-family: "peugeot-expanded-bold";
	src: url("../fonts/peugeot_expanded_bold_v2-webfont.eot");
	src: local("?"),
	url("../fonts/peugeot_expanded_bold_v2-webfont.woff") format("woff"),
	url("../fonts/peugeot_expanded_bold_v2-webfont.ttf") format("truetype"),
	url("../fonts/peugeot_expanded_bold_v2-webfont.svg#blaimim_-webfont") format("svg");
}

@font-face {
	font-family: "peugeot-expanded-extralight";
	src: url("../fonts/peugeot_expanded_extralight_v2-webfont.eot");
	src: local("?"),
	url("../fonts/peugeot_expanded_extralight_v2-webfont.woff") format("woff"),
	url("../fonts/peugeot_expanded_extralight_v2-webfont.ttf") format("truetype"),
	url("../fonts/peugeot_expanded_extralight_v2-webfont.svg#blaimim_-webfont") format("svg");
}

@font-face {
	font-family: "peugeot-expanded-light";
	src: url("../fonts/peugeot_expanded_light_v2-webfont.eot");
	src: local("?"),
	url("../fonts/peugeot_expanded_light_v2-webfont.woff") format("woff"),
	url("../fonts/peugeot_expanded_light_v2-webfont.ttf") format("truetype"),
	url("../fonts/peugeot_expanded_light_v2-webfont.svg#blaimim_-webfont") format("svg");
}

@font-face {
	font-family: "peugeot-expanded-medium";
	src: url("../fonts/peugeot_expanded_medium_v2-webfont.eot");
	src: local("?"),
	url("../fonts/peugeot_expanded_medium_v2-webfont.woff") format("woff"),
	url("../fonts/peugeot_expanded_medium_v2-webfont.ttf") format("truetype"),
	url("../fonts/peugeot_expanded_medium_v2-webfont.svg#blaimim_-webfont") format("svg");
}

@font-face {
	font-family: "peugeot-expanded-normal";
	src: url("../fonts/peugeot_expanded_normal_v2-webfont.eot");
	src: local("?"),
	url("../fonts/peugeot_expanded_normal_v2-webfont.woff") format("woff"),
	url("../fonts/peugeot_expanded_normal_v2-webfont.ttf") format("truetype"),
	url("../fonts/peugeot_expanded_normal_v2-webfont.svg#blaimim_-webfont") format("svg");
}

@font-face {
	font-family: "peugeot-italic";
	src: url("../fonts/peugeot_italic_v2-webfont.eot");
	src: local("?"),
	url("../fonts/peugeot_italic_v2-webfont.woff") format("woff"),
	url("../fonts/peugeot_italic_v2-webfont.ttf") format("truetype"),
	url("../fonts/peugeot_italic_v2-webfont.svg#blaimim_-webfont") format("svg");
}

@font-face {
	font-family: "peugeot-light-italic";
	src: url("../fonts/peugeot_light_italic_v2-webfont.eot");
	src: local("?"),
	url("../fonts/peugeot_light_italic_v2-webfont.woff") format("woff"),
	url("../fonts/peugeot_light_italic_v2-webfont.ttf") format("truetype"),
	url("../fonts/peugeot_light_italic_v2-webfont.svg#blaimim_-webfont") format("svg");
}

@font-face {
	font-family: "peugeot-light";
	src: url("../fonts/peugeot_light_v2-webfont.eot");
	src: local("?"),
	url("../fonts/peugeot_light_v2-webfont.woff") format("woff"),
	url("../fonts/peugeot_light_v2-webfont.ttf") format("truetype"),
	url("../fonts/peugeot_light_v2-webfont.svg#blaimim_-webfont") format("svg");
}
*/

@font-face {
	font-family: "peugeot-normal";
	src: url("../fonts/peugeot_normal_v2-webfont.eot");
	src: local("?"),
	url("../fonts/peugeot_normal_v2-webfont.woff") format("woff"),
	url("../fonts/peugeot_normal_v2-webfont.ttf") format("truetype"),
	url("../fonts/peugeot_normal_v2-webfont.svg#blaimim_-webfont") format("svg");
}


/*
 * End Fonts
*/

/*
 * Clearfix
*/
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}

/*
 * End Clearfix
*/


html, body{
	overflow-x: hidden;
}

body{
	font-family: "peugeot-normal", arial, helvetica, sans-serif;
	color: #636363;
	background: #fff;
	margin-bottom: 50px;
	padding-top: 115px;
}

.hide{ display: none;}
.show{ display: block;}

::-webkit-input-placeholder  { color:#373737; }
input:-moz-placeholder { color:#373737; }
:-ms-input-placeholder { color: #373737; }
input.placeholder{ color: #373737; }


/*
 * Header
*/

.container{
	width: 940px;
	margin: 0 auto;
	position: relative;
}

.volver{
	position: absolute;
	background: url("./assets/arrow-volver.png") no-repeat top right;
	display: inline-block;
	text-decoration: none;
	font-size: 18px;
	line-height: 40px;
	color: #8F8F8F;
	padding-right: 58px;
	right: 0px;
	bottom: 60px;
}

header{
	height: 125px;
	background: url("./assets/header.png") no-repeat top center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

header h1 a{
	display: block;
	width: 120px;
	height: 85px;
	position: relative;
	top: 5px;
	left: 12px;
}

header h2{
	display: none;
}



/*
 * Secciones en General
*/
section, section .container{
	min-height: 650px;
}

section h1{
	position: relative;
	color: #1e1e26;
	text-transform: uppercase;
}

section h1 span{
	position: absolute;
}

section h2{
	text-transform: uppercase;
}


/*
 * Home
*/
.home{
	background: url("./assets/background-home.png") no-repeat center 160px;
}

.home .txt{
	width: 620px;
	float: right;
}

.home h1{
	font-size: 48px;
}

.home h1 span{
	font-size: 116px;
	left: -105px;
	top: -14px;
}

.home h2{
	color: #8f8f8f;
	font-size: 24px;
	text-transform: uppercase;
	margin: 12px 0;
}

.home .intro{
	color: #636363;
	font-size: 16px;
	line-height: 20px;
}

.home a{
	font-size: 29px;
	color: #8f8f8f;
	background: url("./assets/arrow-links.png") no-repeat;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 70px;
	display: inline-block;
}

.home a:hover{
	color: #666;
}

.home a.por-modelos{
	padding-left: 90px;
	position: absolute;
	top: 200px;
	right: 0;
}

.home a.por-ubicacion{
	padding-right: 90px;
	background-position: right;
	position: absolute;
	top: 500px;
	left: 0;
}


/*
 * Por Ubicacion -> Step 2
*/
section.ubicacion.step2{
	background: url("./assets/background-step2.png") no-repeat bottom center;
}

.ubicacion.step2 h1{
	font-size: 40px;
	line-height: 42px;
	width: 450px;
	float: right;
	margin-top: 200px;
}

.ubicacion.step2 h1 span{
	font-size: 113px;
	left: -105px;
	top: 19px;
}

.ubicacion.step2 .contentMap{
	width: 300px;
	height: 410px;
	position: absolute;
	background: url("./assets/sombra-mapa.png") no-repeat bottom center;
	left: 0;
	top: 208px;
}

.ubicacion.step2 .map{
	border: 1px solid #a8a8a8;
	border-radius: 5px;
	padding: 3px;
	background: #fff;
	height: 345px;
}

.ubicacion.step2 form {
	margin-top: 35px;
	clear: both;
	float: right;
}

.ubicacion.step2 form > div{
	display: inline-block;
	margin-right: 10px;
}

.ubicacion.step2 form label{
	display: block;
	font-size: 14px;
	color: #9e9e9e;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.ubicacion.step2 form input[type="submit"]{
	border: none;
	background: url("./assets/btn-solicitar-turno.png") no-repeat top left;
	width: 270px;
	height: 83px;
	cursor: pointer;
	margin-left: 10px;
	display: block;
	margin-top: 20px;
	margin-left: -5px;
}

/*
 * Por Modelos -> Step 2
*/
section.modelos.step2{
	background: url("./assets/background-step2-b.png") no-repeat bottom center;
}

.modelos.step2 h1{
	font-size: 40px;
	line-height: 42px;
	width: 450px;
	float: right;
	margin-top: 200px;
}

.modelos.step2 h1 span{
	font-size: 113px;
	left: -105px;
	top: -8px;
}

.modelos.step2 form{
	position: absolute;
	right: 0;
	bottom: 115px;
	z-index: 6;
}

.modelos.step2 form input[type="submit"]{
	border: none;
	background: url("./assets/btn-confirmar.png") no-repeat top left;
	width: 215px;
	height: 83px;
	cursor: pointer;
	margin-left: 10px;
}

.lista-autos{
	width: 1500px;
	height: 300px;
	position: absolute;
	top: 255px;
	left: -230px;
}

.lista-autos ul{
	position: relative;
	width: 100%;
	height: 300px;
}

.lista-autos li{
	position: absolute;
}

	.lista-autos li.p-rcz{
		width: 440px;
		height: 210px;
		background: url("./assets/elegir-autos/rcz.png") no-repeat;
		z-index: 4;
		left: 0;
		bottom: 0;
	}

	.lista-autos li.p-508{
		width: 405px;
		height: 210px;
		background: url("./assets/elegir-autos/508.png") no-repeat;
		z-index: 3;
		left: 195px;
		bottom: 50px;
	}

	.lista-autos li.p-308cc{
		width: 335px;
		height: 160px;
		background: url("./assets/elegir-autos/308cc.png") no-repeat;
		z-index: 2;
		left: 456px;
		bottom: 107px;
	}

	.lista-autos li.p-308gti{
		width: 255px;
		height: 134px;
		background: url("./assets/elegir-autos/308gti.png") no-repeat;
		z-index: 1;
		left: 670px;
		bottom: 135px;
	}

	.lista-autos li.p-308{
		width: 240px;
		height: 110px;
		background: url("./assets/elegir-autos/308.png") no-repeat;
		z-index: 1;
		right: 300px;
		bottom: 156px;
	}

	.lista-autos li.p-408{
		width: 300px;
		height: 160px;
		background: url("./assets/elegir-autos/408.png") no-repeat;
		z-index: 2;
		right: 165px;
		bottom: 100px;
	}

	.lista-autos li.p-3008{
		width: 365px;
		height: 200px;
		background: url("./assets/elegir-autos/3008.png") no-repeat;
		z-index: 3;
		right: 0px;
		bottom: 30px;
	}


	.lista-autos li.p-rcz.disabled{
		background: url("./assets/elegir-autos/rcz-disabled.png") no-repeat;
	}

	.lista-autos li.p-508.disabled{
		background: url("./assets/elegir-autos/508-disabled.png") no-repeat;
	}

	.lista-autos li.p-308cc.disabled{
		background: url("./assets/elegir-autos/308cc-disabled.png") no-repeat;
	}

	.lista-autos li.p-308gti.disabled{
		background: url("./assets/elegir-autos/308gti-disabled.png") no-repeat;
	}

	.lista-autos li.p-308.disabled{
		background: url("./assets/elegir-autos/308-disabled.png") no-repeat;
	}

	.lista-autos li.p-408.disabled{
		background: url("./assets/elegir-autos/408-disabled.png") no-repeat;
	}

	.lista-autos li.p-3008.disabled{
		background: url("./assets/elegir-autos/3008-disabled.png") no-repeat;
	}

/*
 * Por Ubicacion -> step3
*/
section.ubicacion.step3{
	background: url("./assets/background-ubicacion-step3.png") no-repeat bottom center;
}

.ubicacion.step3 h1{
	font-size: 31px;
	margin: 70px 0 0 85px;
}

.ubicacion.step3 h1 span{
	font-size: 91px;
	left: -85px;
	top: -35px;
}

.ubicacion.step3 p{
	width: 700px;
	text-transform: uppercase;
	font-size: 19px;
	line-height: 24px;
	color: #8f8f8f;
	margin: 20px 0 0 85px;
}

.ubicacion.step3 form input[type="submit"]{
	border: none;
	background: url("./assets/btn-reservar-turno.png") no-repeat top left;
	width: 293px;
	height: 90px;
	cursor: pointer;
	margin-left: 10px;
}



/*
 * Por Modelo -> step3
*/
section.modelos.step3{

}

.modelos.step3 h1{
	font-size: 31px;
	margin: 70px 0 0 85px;
}

.modelos.step3 h1 span{
	font-size: 91px;
	left: -85px;
	top: -35px;
}

.modelos.step3 p{
	width: 500px;
	text-transform: uppercase;
	font-size: 19px;
	line-height: 24px;
	color: #8f8f8f;
	margin: 20px 0 0 85px;
}

.modelos.step3 form {
	margin-top: 20px;
}

.modelos.step3 form > div{
	display: inline-block;
	margin-right: 10px;
}

.modelos.step3 form label{
	display: block;
	font-size: 14px;
	color: #9e9e9e;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.modelos.step3 form input[type="submit"]{
	border: none;
	background: url("./assets/btn-solicitar-turno.png") no-repeat top left;
	width: 270px;
	height: 83px;
	cursor: pointer;
	margin-left: 10px;
}

.modelos.step3 .contentMap{
	width: 280px;
	height: 280px;
	position: absolute;
	background: url("./assets/sombra-mapa.png") no-repeat bottom center;
	left: 0;
	top: 208px;
}

.modelos.step3 .map{
	border: 1px solid #a8a8a8;
	border-radius: 5px;
	padding: 3px;
	background: #fff;
	height: 200px;
}


/*
 * Confirmacion
*/
section.confirmacion{
	background: url("./assets/background-step4.png") no-repeat top center;
	position: relative;
	top: -15px;
	height: 860px;
}

.confirmacion .container{
	min-height: 800px;
}

.confirmacion h1{
	font-size: 32px;
	color: #fff;
	float: right;
	margin-top: 100px;
}

.confirmacion h1 span{
	font-size: 78px;
	top: -28px;
	left: -70px;
}

.confirmacion .left-col{
	float: left;
	width: 464px;
}

.confirmacion .right-col{
	float: right;
	width: 464px;
}

.confirmacion form{
	clear: both;
}

.confirmacion .row,
.confirmacion .multi-select > div{
	margin-bottom: 10px;
}

.confirmacion .multi-select{
	margin-bottom: 0;
}

.confirmacion form input[type="text"]{
	color: #858585;
	font-size: 18px;
	border-radius: 5px;
	width: 420px;
	height: 59px;
	padding: 0 20px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #cacaca 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cacaca));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#cacaca 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#cacaca 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#cacaca 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#cacaca 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cacaca',GradientType=0 );
	border: 1px solid #ccc;
}

.confirmacion form input[type="submit"]{
	border: none;
	background: url("./assets/btn-enviar.png") no-repeat top left;
	width: 270px;
	height: 99px;
	cursor: pointer;
}

.confirmacion label{
	color: #d1d1d1;
	font-size: 18px;
	line-height: 59px;
	display: inline-block;
}

.confirmacion .select-container{
	float: right;
	margin-right: 2px;
}

.confirmacion select{
	width: 462px;
}

.confirmacion select.small{
	width: 82px;
}

.confirmacion select.middle{
	width: 126px;
}
